<!doctype html>
<html>
  <head>
    <title>GRENADE</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body class="auth-page">
    <div class="main-container">
      <h1 class="auth-h1">GRENADE</h1>

      <div id="form_connect">
        <h3 class="auth-h2">Connexion</h3>
        <form class="auth-form">
          <input class="auth-input" type="text" name="user" required />
          <input class="auth-input" type="password" name="pass" required />
          <!-- type="password"会在Microsoft识别的时候被捕捉，然后出现visu的可能 / 因为不是text -->
          <button class="auth-button" type="submit">Se connecter</button>
        </form>
        <p class="auth-p">
          Si vous n'avez pas de compte ?
          <a href="#" onclick="inscrire()">S'inscrire</a>
        </p>
      </div>

      <div id="form_inscrire" style="display: none">
        <h2 class="auth-h2">Inscription</h2>
        <form class="auth-form">
          <input class="auth-input" type="text" name="user" required />
          <input class="auth-input" type="password" name="pass" required />
          <button class="auth-button" type="submit">Créer mon compte</button>
        </form>
        <p class="auth-p">
          Vous avez déjà un compte ?
          <a href="#" onclick="connect()">Se connecter</a>
        </p>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
  </body>
</html>
