<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>GRENADE</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
  </head>

  <body class="gradient">
    <header>
      <h3 id="home-logo-text">GRENADE</h3>

      <nav>
        <a href="{{ url_for('listeseries.listeseries_test') }}">Mes séries</a>
        <a href="{{ url_for('recommendations.recommendation_test') }}">
          Recommendations
        </a>
        <a href="{{ url_for('auth.logout') }}">Déconnexion</a>
      </nav>
    </header>

    <main>
      <!-- Search series avec nom -->
      <section id="home-search-section">
        <form id="home-search-form">
          <div class="form">
            <div class="input">
              <input
                type="text"
                id="search-input"
                name="q"
                placeholder="Tape le nom d'une série…"
                class="search-input"
              />
            </div>
          </div>
          <button id="search-button" type="submit">Rechercher</button>
        </form>
      </section>

      <section id="home-content-layout">
        <!-- PARTIE GAUCHE: Aujourd'hui à l'affiche & Recommandations -->
        <div id="home-left-column">
          <section id="today-schedule-block">
            <div class="block-header">
              <h2 id="today-schedule-title">Aujourd'hui à l'affiche</h2>
            </div>
            <div id="today-schedule-content"></div>
            <button id="today-next">Charger plus</button>
          </section>

          <section id="recommendation-block">
            <div class="block-header">
              <h2 id="recommendation-title">Recommandations pour vous</h2>
            </div>
            <div id="recommendation-content">
              <!-- Recommendation Gemini -->
            </div>
          </section>
        </div>

        <!-- PARTIE DROITE: Classement de semaine & 2025 Top 10 -->
        <div id="home-right-column">
          <section id="weekly-ranking-block">
            <div class="block-header">
              <h2 id="weekly-ranking-title">Classement de la semaine</h2>
            </div>
            <div id="weekly-ranking-content" class="weekly-ranking" > 
              <!-- 没有external_id -->
              {% for week_item in weekly_ranking %}
                <div class="ranking-item-week" data-id="{{ week_item.external_id }}">
                      <p class="ranking-rating"><strong>{{ week_item.name }}</strong></p>
                      <p>⭐ {{ week_item.rating }}</p>
                </div>
              {% endfor %}
            </div>
          </section>

          <section id="annual-top10-block">
            <div class="block-header">
              <h2 id="annual-top10-title">Top 10 de 2025</h2>
            </div>
            <div id="annual-top10-content">
              {% for item in top10_2025 %}
                <div class="ranking-item" data-id="{{ item.external_id }}">
                    <p class="ranking-2025"><strong>{{ item.name }}</strong></p>
                    <div class="ranking-details-2025">
                    <p class="ranking-2025">⭐ {{ item.rating }}</p>
                    </div>
                </div>
              {% endfor %}
            </div>
          </section>
        </div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
