<!doctype html>
<head>
  <meta charset="utf-8" />
  <title>GRENADE</title>
  <link
    rel="stylesheet"
    href="{{url_for('static',filename='css/style.css')}}"
  />
  <script
    src="{{url_for('static',filename='js/listeseries.js')}}"
    defer
  ></script>
</head>
<body class="gradient">
  <header>
    <a
      href="{{ url_for('home') }}"
      id="home-logo-link"
      style="text-decoration: none; color: white"
    >
      <h3 id="home-logo-text">GRENADE</h3>
    </a>
    <nav>
      <a href="{{ url_for('listeseries.listeseries_test') }}">Mes séries</a>
      <a href="{{ url_for('recommendations.recommendation_test') }}"
        >Recommendations</a
      >
      <a href="{{ url_for('auth.logout') }}">Déconnexion</a>
    </nav>
  </header>
  <div style="margin-left: 50px">
    <h1>Bienvenue, {{ session.get("user") }} !</h1>
    <p class="subtitle">
      Voici votre espace personnel pour suivre vos séries et gérer vos
      préférences.
    </p>
  </div>
  <main>
    <!-- 已看过 -->
    <section class="listeseries-section">
      <h2>Séries vues</h2>
      <p id="regarde-empty" class="empty-message">
        Vous n'avez encore regardé aucune série.
      </p>
      <div id="regarde-container" class="listeseries-grid"></div>
    </section>

    <!-- 想看 -->
    <section class="listeseries-section">
      <h2>Séries à voir</h2>
      <p id="avoir-empty" class="empty-message">
        Aucune série dans votre liste à voir.
      </p>
      <div id="avoir-container" class="listeseries-grid"></div>
    </section>
  </main>
  <footer></footer>
</body>
